* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#0582CA;
}

.navbar {
  height: 15vh;
  background-color: white;
  display: flex;
  box-shadow: 1px 5px 20px #003554;
}

.opciones {
  list-style-type: none;
  font-family: 'Amaranth', sans-serif;
  width: 85%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
  gap: 25px;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  color: white;
  background-color: #0582CA;
  border-radius: 10px;
  padding: 10px;
}

.navbar img {
  width: 15%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
}