@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --thin: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 1px 5px 20px #003554;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu i {
  font-size: 2rem;
  color: #0083B0;
}

.container-items {
  order: 1;
  width: 100%;
}

.item {
  font-family: 'Montserrat';
  font-weight: var(--bold);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  display: none;
}

.item a {
  text-decoration: none;
  color: #003554;
}

.item a:hover {
  color:#0083B0;
}

.menu .logo {
  width: 3rem;
}

.desplegable {
  display: none;
}

/* Corregir */
.desplegable:checked + .item {
  display: block;
}

/* Secci贸n 1 Presentaci贸n */
.presentacion img {
  display: none;
}
.presentacion {
  background-color: rgba(255, 255, 255, 0.938);
  margin: 2rem 1rem 3rem;
  padding: 2rem 2rem 3rem;
}

.texto {
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.texto h1 {
  font-family: 'Indie Flower';
  height: 20%;
  font-size: 4rem;
  color: #003554;
}

.texto p {
  font-family: 'Montserrat';
  font-weight: var(--medium);
}

.botones input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 2px solid #003554;
  font-family: 'Montserrat';
  font-weight: var(--regular);
}

#boton_contacto {
  color: rgba(255, 255, 255, 0.938);
  background-color: #003554;
}

#boton_destinos {
  color: black;
  background-color: rgba(255, 255, 255, 0.938);
}

#boton_contacto:hover, #boton_destinos:hover {
  box-shadow: 1px 2px 10px #003554;
}

/* Secci贸n 2 Nosotros */
.nosotros {
  margin: 0rem 3rem 2rem;
  padding: 2rem 2rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: 'Montserrat';
  font-weight: var(--medium);
  color: rgba(255, 255, 255, 0.938);
  text-align: justify;
  display: flex;
  align-items: center;
}

.nosotros span {
  font-style:oblique;
  color:#003554;
}

@media (min-width: 1024px) {
  .menu {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .item {
    display: flex;
    cursor: pointer;
    width: auto;
    padding: 20px;
  }

  .btn__container {
    display: none;
  }

  .container-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
  }

  .menu i {
    font-size: 1.7rem;
  }

  /* Seccion 2 Presentaci贸n */
  .presentacion img {
    display: inline;
    width: 60%;
  }
  .presentacion {
    display: flex;
    padding: 0;
    height: 80vh;
  }

  .box-info {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .texto {
    padding-bottom: 0rem;
  }

  .box-info p {
    padding: 2rem 4rem 0rem 1rem;
  }

  /* Seccion 3 Nosotros */
  .nosotros {
  margin: 0rem 3rem 2rem;
  padding: 3rem 2rem;
  height: 30vh;
  text-align: center;
  display: flex;
  align-items: center;
}
}

/* .elegirnos {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elegirnos h3 {
  height: 20%;
  font-family: 'Indie Flower';
  color: rgba(255, 255, 255, 0.938);
  font-size: 3rem;
}

.elegirnos p {
  font-family: 'Montserrat';
  font-weight: var(--regular);
  text-align: center;
  padding-top: 2rem;
}

.card_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.elegirnos img {
  height: 200px;
}

.card {
  padding: 2rem 5rem;
  margin: 0.2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.938);
} */