* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0582CA;
}

.menu {
  height: 15vh;
  background-color: white;
  display: flex;
  box-shadow: 1px 5px 20px #003554;
}

.opciones {
  list-style-type: none;
  font-family: 'Amaranth', sans-serif;
  width: 80vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3vw;
  gap: 20px;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  color: #0582CA;
  text-decoration:underline;
}

nav img {
  width: 20vw;
  height: 14vh;
  padding-top: 1vh;
  padding-left: 3vw;
}
